# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Virtual environment
.venv/
venv/
ENV/
.env
env/

# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
notes.db
media/
*.sqlite3

# VSCode
.vscode/

# PyCharm
.idea/

# Operating system files
.DS_Store
Thumbs.db
